#UpgradeButton{
    background-color: #444444;
    border: none;
    color: orange;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;

    position: absolute;
    top: 60%;
    left: 5%;
}

#UpgradeButton:hover{
    transform: scale(1.1);
} 



