body{
    margin:0;
    background: #babdb8;
    font-family: 'Work Sans', sans-serif;
    font-weight:500;
    background-image: url("backgroundCity.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}  

body::-webkit-scrollbar { 
    width: 0; 
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: teal;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 20px;

    position: relative;
}

nav a{
    color: lightgray;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

nav a:hover{
    color: #000000;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: #444444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 200ms;
}

nav a:hover::before{
     width: 100%;
}

#videos li{
    font-size: 20px;
    text-transform: lowercase;
    list-style: none;
    display: inline-block;
    padding-right: 30px;
    padding-top: 70px;
}

#videos li a{
    text-decoration: none;
    color: #ffffff;
}

#videos img{
    height:180px;
    display: inline-block;
    padding-top: 30px;
    border-radius: 7%;
}

#videos img:hover{
    transform: scale(1.05);
}

.MyPics{
    height: 400px;
}

.jumbotron-fluid{
    background-color: rgb(230, 92, 22);
}

br + img{
    height:240px;
    width:300px;
}

.bottom{
    background-color: none;
    margin: 20%;
}

.bottom>img{
    width: 340px;
}

.button{
    background-color: teal;
    border: none;
    border-radius: 5px;
    height: 20px;
    position: absolute;
    color: lightgray;
}
.button:hover{
    transform: scale(1.05);
}

.container a>button{
    background-color:teal;
    border: none;
    border-radius: 30px;
    height: 25px;
    font-size:20px;
    position: absolute;
    color: lightgray;
}

.container a>button:hover{
    transform: scale(1.05);
}



