body{
    margin:0;
    background: #babdb8;
    font-family: 'Work Sans', sans-serif;
    font-weight:500;
}
.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #ff6600ce;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 20px;

    position: relative;
}

nav a{
    color: #444444;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

nav a:hover{
    color: #000000;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: #444444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 200ms;
}

nav a:hover::before{
    width: 100%;
}

#videos li{
    font-size: 20px;
    text-transform: lowercase;
    list-style: none;
    display: inline-block;
    padding-right: 30px;
    padding-top: 70px;
}

#videos li a{
    text-decoration: none;
    color: #ffffff;
}

#videos img{
    height:180px;
    display: inline-block;
    padding-top: 30px;
    border-radius: 5%;
}

#UpgradeButton{
    background-color: #444444;
    border: none;
    color: orange;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;

    position: absolute;
    top: 60%;
    left: 5%;
}

#UpgradeButton:hover{
    transform: scale(1.1);
}




